
services:
  flight-service:
    build: ./flight-service
    container_name: flight-service
    ports:
      - "8001:8001"
    restart: unless-stopped

  booking-service:
    build: ./booking-service
    container_name: booking-service
    ports:
      - "8002:8002"
    depends_on:
      - flight-service
      - payment-service
      - postgres
      - mongo
    environment:
      - POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/bookingdb
      - MONGO_URL=mongodb://mongo:27017/bookings
    networks:
      - reserva_network

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8004:8004"

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8003:8003"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/authdb
    networks:
      - reserva_network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: bitnami
    restart: unless-stopped
  

  # === Base de datos PostgreSQL ===
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bookingdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - reserva_network

  # === Base de datos MongoDB ===
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - reserva_network

  # === Interfaz web para MongoDB ===
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo
    networks:
      - reserva_network

  # === Interfaz web para PostgreSQL ===
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    networks:
      - reserva_network

networks:
  reserva_network:

volumes:
  postgres_data:
  mongo_data:

